
<h3><%= @user.email %></h3>
  <%= link_to_if(user_signed_in?, "Edit", edit_user_path(@user)) %> |
 <%= link_to_if(user_signed_in?, "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %>

<table class="one-column-emphasis">
  <tbody>
    <tr>
      <td class="oce-first">Email:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td class="oce-first">Role:</td>
      <td>
<%
=begin %>      	
      	<%= @user.roles.map {|r| r.name}.join(", ")  if  @user.roles %>
      	<ul class="no-pad no-bullets">
	    <%= habtm_checkboxes(@user, :role_ids, @accessible_roles, :name,  :disabled => true)  if @user.roles %>
	    </ul>
<%
=end %>
      </td>
    </tr>
  <% if user_signed_in? %>
    <tr>
      <td class="oce-first">Created at:</td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td class="oce-first">Last Sign In:</td>
      <td><%= @user.last_sign_in_at %></td>
    </tr>
    <tr>
      <td class="oce-first">Sign In Count:</td>
      <td><%= @user.sign_in_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
