<h1>Listing roles</h1>
<div style="float:left;  padding:5px; background-color:#DEDFFE;border: 1px solid #DEDFDE;"> <%= page_entries_info @roles -%></div>
<div style="float:right;">	
	<%= form_tag request.path, :method => 'get' do %>
	  <%= content_tag :label do %>
	    Search term:
	    <%= text_field_tag :q, params[:q] %>
	  <% end %>
	<% end %>
</div>

<br clear=left/>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
  <div class='flickr_pagination'><%= will_paginate @roles %> </div>
<br/>
<%= link_to 'New Role', new_role_path %>
